<div class="card full-width" id="buttons">
  <header>
    <div class="card-title">Buttons</div>
  </header>
  <div class="card-content">
    All buttons use the base <code>.button</code> class.
    It can be applied to any HTML element.
    They can have various colors applied to them.

    <hr class="spacer" />

    <div class="card full-width" id="buttons-raised">
      <header>
        <div class="card-title">Raised</div>
        <div class="card-subtitle">
          <code>.button .button-raised-{COLOR} [.button-dense .button-large]</code>
        </div>
      </header>
      <div class="card-content">
        <div class="button button-raised-blue button-dense">Dense</div>
        <div class="button button-raised-blue">Normal</div>
        <div class="button button-raised-red button-large">Large</div>
      </div>
    </div>

    <hr class="spacer" />

    <div class="card full-width" id="buttons-flat">
      <header>
        <div class="card-title">Flat</div>
        <div class="card-subtitle">
          <code>.button .button-flat-{COLOR} [.button-dense .button-large]</code>
        </div>
      </header>
      <div class="card-content">
        <div class="button button-flat-blue button-dense">Dense</div>
        <div class="button button-flat-blue">Normal</div>
        <div class="button button-flat-red button-large">Large</div>
      </div>
    </div>

    <hr class="spacer" />

    <div class="card full-width" id="buttons-outline">
      <header>
        <div class="card-title">Outline</div>
        <div class="card-subtitle">
          <code>.button .button-outline-{COLOR} [.button-dense .button-large]</code>
        </div>
      </header>
      <div class="card-content">
        <div class="button button-outline-blue button-dense">Dense</div>
        <div class="button button-outline-blue">Normal</div>
        <div class="button button-outline-red button-large">Large</div>
      </div>
    </div>

    <hr class="spacer" />

    <div class="card full-width" id="buttons-icon">
      <header>
        <div class="card-title">Icon</div>
        <div class="card-subtitle">
          Does not support size classes yet.
          Using without any color classes leaves a simple icon without a colored background
          but the same dimensions and hover as colored icons.
        </div>
        <div class="card-subtitle">
          <code>.button .button-icon [.button-icon-{COLOR}]</code>
        </div>
      </header>
      <div class="card-content">
        <div class="button button-icon"><i class="zmdi zmdi-settings"></i></div>
        <div class="button button-icon button-icon-blue"><i class="zmdi zmdi-settings"></i></div>
        <div class="button button-icon button-icon-red"><i class="zmdi zmdi-settings"></i></div>
      </div>
    </div>
  </div>
</div>
