<div class="card full-width" id="menus">
  <header>
    <div class="card-title">Menus</div>
  </header>
  <div class="card-content">
    Menus consist of a <code>.menu-container</code> wrapper that includes
    a trigger via <code>role="menu-trigger" data-menu-id="menu-id"</code> and an actual
    <code>.menu#menu-id</code>.

    <p>
      They will also adjust their padding on various device sizes. Try resizing this
      window and clicking a menu.
    </p>

    <hr class="spacer" />

    <div class="card full-width" id="menus-position">
      <header>
        <div class="card-title">Position</div>
        <div class="card-subtitle">
          Use the <code>data-position="{TOP|BOTTOM}-{LEFT|RIGHT}"</code> class to specify
          the start point of the menu.
          If the menu would overflow the visible window, it's position will be
          changed dynamically to fit inside the visible window.
        </div>
      </header>
      <div class="card-content">
        <span class="menu-container">
          <div class="button button-raised-grey" role="menu-trigger" data-menu-id="menu-1">
            Bottom-left
          </div>
          <div class="menu menu-width-4" id="menu-1" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Menu Item 1</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Menu Item 2</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Menu Item 3</div>
            </div>
          </div>
        </span>

        <span class="menu-container">
          <div class="button button-raised-grey" role="menu-trigger" data-menu-id="menu-2">
            Bottom-right
          </div>
          <div class="menu menu-width-4" id="menu-2" data-position="bottom-right">
            <div class="menu-item">
              <div class="menu-item-primary">Menu Item 1</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Menu Item 2</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Menu Item 3</div>
            </div>
          </div>
        </span>
      </div>
    </div>

    <hr class="spacer" />

    <div class="card full-width" id="menus-widths">
      <header>
        <div class="card-title">Widths</div>
        <div class="card-subtitle">
          Menus use a multiple width: <code>.menu-width-[1,2,3,4,5,6,7]</code>.
        </div>
      </header>
      <div class="card-content">
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-4">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-1" id="menu-4" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-5">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-2" id="menu-5" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-6">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-3" id="menu-6" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-7">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-4" id="menu-7" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-8">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-5" id="menu-8" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-9">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-6" id="menu-9" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
        <span class="menu-container">
          <div class="button button-icon" role="menu-trigger" data-menu-id="menu-10">
            <i class="zmdi zmdi-settings"></i>
          </div>
          <div class="menu menu-width-7" id="menu-10" data-position="bottom-left">
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-primary">Item</div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
