<%= content_for(:title) { "Styleguide" } %>

<%= render "styleguide/navigation" %>

<div class="constrained constrained-large">
  <%= render "styleguide/buttons" %>
  <hr class="spacer" />
  <%= render "styleguide/menus" %>
</div>
